<h4>
  {{title}}
  <br>
  {{myTitle}}
  <br>
  <hr>
  <div *ngFor="let item of data">
    <ul>
        <li>{{item.id}}</li>
        <li>{{item.name}}</li>
    </ul>
  </div>

  <hr>
  <ul>
    <li><a [routerLink] = "['/ProductLink']">Product</a></li>
    <li><a [routerLink] = "['/InventoryLink']">Inventory</a></li>
    <li><a [routerLink] = "['/']">Reset</a></li>
 </ul>
 <router-outlet></router-outlet>

 <hr>
 <product-form></product-form>
</h4>
 <hr>
  <h3>Data from App Service:</h3> {{appValue}} <br>
  <h3>Data Updated from App Service:</h3> {{appValue2}} <br>
  <h4>Data from Movie Service: <br> MovieID: {{movieId |uppercase}}<br> Rating: {{ratings}}<br> Zone: {{zone | uppercase}}</h4>
<hr>
<p>Third Party control Pagination: </p>
<div *ngFor = 'let lst of appList'> 
  <ul> 
     <li>{{lst.ID}}</li> 
     <li>{{lst.Name}}</li> 
     <img [src] = 'lst.url'> 
  </ul> 
</div> 
<!-- <pagination-controls (pageChange) = "p = $event"></pagination-controls> -->
<hr>
<div>
  <input [value]="name" (input) = "name = $event.target.value">
  {{name}}
  <hr>
  <label for=""> Events</label>
  <button (click) ="clicked($event)">Click</button>
  <p>Current status: {{clickStatus}}</p>
  
  <hr>
  Date: The date of this Tutorial is {{newdate | date:"MM/dd/yy"}}<br>
  The percentage is {{newValue | percent}}<br> 
  The percentage is {{newValue | percent:'2.2-5'}}<br>  
  The Json Value {{jsonValue | json}}  
  <h4>Slice Pipe</h4>
      <b>{{months | slice:2:6}}</b> 
  <p>CustomePipe - Multiplier: {{2 | custMultiplier: 10}}</p>  
  <p>SqrtPipe: {{25 | sqrt}}
   SqrtPipe: {{36 | sqrt}}</p>

  <hr>
  <div>
    <select (change) = "changemonths($event)">
        <option *ngFor="let m of months"> {{m}}</option>
    </select>
    <label for="">Selected Month:  {{selectedMonth}}</label>
  </div>
  <span *ngIf = "isavailable; else condition1">Condition is valid.</span> 
  <ng-template #condition1>Condition is invalid </ng-template>

  <hr>
  <label for=""> LOGIN FORM: </label>
  <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
    <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
    <br/>
    <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
    <br/>
    <input type = "submit" value = "submit">
  </form>
  
</div>

